<div class="titlebar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="font-orange titlebar-content">CALL US NOW! <span
                        class="number font-white padding-horizontal">385.154.11.28.35</span></h5>
            </div>
            <div class="col-lg-6 text-right">
                <h5 class="font-orange text-uppercase titlebar-content">Login <span
                        class="font-white padding-horizontal">Sign Up</span></h5>
            </div>
        </div>
    </div>
</div>

<div class="navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="logo-text">YOUR <span>LOGO</span></h2>
            </div>
            <div class="col-lg-7">
                <div class="nav-item-wrapper">
                    <span class="nav-item">TITLE 1</span>
                    <span class="nav-item navitem-active relative">
                        <span class="bold">TITLE 2</span>
                        <span class="dropdown">
                            <ul>
                                <li>SUBMENU 1</li>
                                <li>SUBMENU 2</li>
                                <li class="font-black">SUBMENU 3</li>
                            </ul>
                            <span class="dropdown dropdown2">
                            <ul>
                                <li>SUBMENU 1</li>
                                <li>SUBMENU 2</li>
                                <li class="font-black">SUBMENU 3</li>
                            </ul>
                        </span>
                        </span>
                    </span>
                    <span class="nav-item">TITLE 3</span>
                    <span class="nav-item">TITLE 4</span>
                    <span class="nav-item">TITLE 5</span>
                    <span class="nav-item">TITLE 6</span>
                    <span class="nav-item">TITLE 7</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <h5>
                <span>Home / </span>
                <span>Who we are / </span>
                <span class="font-black">Contact</span>
            </h5>
        </div>
    </div>
</div>

<div class="contact-info-wrapper">
    <div class="container">
        <div class="row">
            <h2 class="contact-text">Contact</h2>
            <p class="lorem-ipsum">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere ipsum nec velit mattis
                elementum. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu placerat metus, eget
                placerat libero.
            </p>
        </div>
    </div>
</div>

<div class="contact-reach-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 no-padding padding-right">
                <h3 class="contact-header">
                    CONTACT US
                </h3>
                <form action="">
                    <input type="text" class="input-field" placeholder="Name *">
                    <div class="col-lg-12 no-padding">
                        <div class="col-lg-6 no-padding">
                            <input type="text" class="input-field input-phone" placeholder="Phone *">
                        </div>
                        <div class="col-lg-6 no-padding">
                            <input type="text" class="input-field" placeholder="Email *">
                        </div>
                    </div>
                    <textarea name="" id="" cols="30" rows="5" class="input-field" placeholder="Message *"></textarea>
                    <buton class="submit">SUBMIT</buton>
                </form>
            </div>
            <div class="col-lg-6 no-padding padding-right">
                <h3 class="reach-header">
                    REACH US
                </h3>
                <div class="address">
                    <div>Coalition Skills Test</div>
                    <br>
                    <div>535 La Plata Street</div>
                    <div>4200 Argentina</div>
                    <br>
                    <div>Phone: 385.154.11.28.38</div>
                    <div>Fax: 385.154.35.66.78</div>
                </div>
                <div class="social-wrapper">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-pinterest-p"></i>
                </div>
            </div>
        </div>
    </div>
</div>